// Font weights
$light:     100;
$regular:   400;
$bold:      600;

// Base Font
$base-font-family:  TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif; ; 
$base-font-weight:  $regular;
$base-font-size:    16px;
$base-line-height:  1.4;

$sec-font-family: 	'helvetica', arial, sans-serif;
$code-font-family: 	'Courier New', monospace;

// Links
$primary-color: 	rgba(0, 0, 0, .9);
$link-color: 		rgba(38, 92, 131, .9);

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 	85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;


body {
    font: $base-font-size $base-font-family;
    color: $primary-color;
    line-height: $base-line-height;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

a {
	color: $link-color;
	text-decoration: none;
	border-bottom: 1px dotted $link-color;
    transition: all .4s;
    &:hover {
        border-bottom-style: solid;
        transition: color .3s;
    }
}
a.logo, a.logo:hover,
a img, a img:hover {
    border: 0;
}
p {
    font-size: $base-font-size;
    line-height: 1.5;
}
p.small {
    font-size: 90%;
}

strong, b {
    font-weight: $bold;
}

em {
    font-style: italic;
}

sup {
    vertical-align: super;
    font-size: 80%;
    line-height: 0;
}

tt {
    font-family: $code-font-family;
}

/* Headers */
h1 {
    font-size: 25px;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 12px;
}

form label {
    font-weight: bold;
    font-size: 15px;
}

form input[type="text"].title {
    font-size: 20px;
}

form input[type="text"].micro {
    font-size: 13px;
    display: inline;
    padding: 0 2px;
}

form .field {
    margin: 10px 0;
}

form .field .subfield {
    margin: 6px 0;
    font-size: 13px;
}

form h5 {
    font-size: 15px;
}

*:target {
    animation: highlight 1s ease;
}

@keyframes highlight {
    from {
        background: yellow;
    }
    to {
    	background: white;
	}
}

pre {
   font: 13px monospace;
}