.container {
	margin: 20px 0;
	padding: 10px 15px;
}
.index-intro {
	margin: 0 0 30px 0;
	p {
		font-size: $base-font-size;
		margin-top: 10px;
		&:first-of-type {
			margin-top: 0;
		}
	}
}
.home-articles {
	h5 {
		font-size: 16px;
		background-color: #eee;
		margin: 0 0 10px 0;
		padding: 5px 10px;
		display: inline-block;
		font-weight: bold;
		color: #555;
	}
	h6 {
		font-size: 30px;
		font-style: italic;
		margin-top: 20px;
		margin-bottom: 10px;
		border-bottom: 3px dashed #ddd;
	}
	ul li {
		padding: 3px 0;
		font-size: 16px;
	 	time {
			float: right;
			font-size: 16px;
			color: #bbb;
		}
	}
	#last-updated-topics p {
		margin: 0 0 10px;
		padding: 0 0 0 10px;
		color: #888;
	}
}

/* Post & Article */
.post {
	article {
		.article-head {
			margin: 0 0 10px 0;
			padding: 0 0 10px 0;
			position: relative;
			border-bottom: 1px solid #cccccc;
			.www_tags {
				font-size: $base-font-size;
			}
			h1 {
				font-size: 30px;
				font-weight: bold;
			}
			h2 {
				font-size: 20px;
				color: #999;
				font-style: italic;
				font-weight: normal;
				margin: 0 0 5px 0;
			}
			.meta {
				font-size: $base-font-size;
				color: #555;
				padding: 0px 0 10px 0;
			}
			p {
				span {
					border-bottom: 1px dotted #aaa;
					cursor: help;
				}
				a {
					text-decoration: none;
					color: inherit;
					span {
						border-bottom: 1px dotted #aaa;
						cursor: auto;
					}
				}
			}
		}
		.article-body {
			padding: 0 0 20px 0;
			> p, > ul, > blockquote {
				overflow: auto;
			}
			.featured_media {
				margin-bottom: 20px;
			}
			h4 {
				font-size: 20px;
				font-weight: bold;
				margin: 15px 0 0 0;
			}
			h5 {
				font-size: 17px;
				font-weight: bold;
				margin: 15px 0 0 0;
			}
			h6 {
				font-size: 13px;
				color: #333;
			}
			p, ul, li, blockquote {
				margin: 0 0 10px 0;
			}
			.footnote-ref {
				vertical-align: super;
				font-size: 80%;
				line-height: 0;
				margin-left: 2px;
			}
			p:last-child,
			li:last-child,
			blockquote:last-child {
				margin-bottom: 0;
			}
			p:empty {
				margin: 0 0 0 5px;
			}
			ul {
				margin-top: 10px;
				li {
					list-style-type: square;
					margin: 0 0 5px 15px;
				}
			}
			blockquote {
				background-color: #f6f6f6;
				padding: 4px 10px;
				margin-top: 10px;
				color: #444444;
			}
			table {
				width: 80%;
				margin: 20px auto;
			}
		}
		.footnotes {
			border-top: 1px solid #111111;
			margin: 50px 0 0 0;
			padding: 0 0 0 50px;
			ol > li {
				list-style-type: decimal;
				font: 12px $sec-font-family;
				margin: 0 0 5px;
				p {
					font-size: 12px;
					display: inline;
				}
			}
		}
	}
}

#footnotediv {
	background-color: #fff;
	padding: 5px;
	border: 1px solid #ddd;
	right: 50px;
}
#footnotediv p {
	padding: 5px 0;
	margin: 0;
	font-size: 11px;
	font-style: italic;
	color: #333;
}
#footnotediv p:first-of-type {
	padding-top: 0;
}
#footnotediv p:last-of-type {
	padding-bottom: 0;
}
.bodyPage .post article .article-body .footnotes p,
.bodyPage .post article .article-body .footnotes li {
	font-size: 14px;
	line-height: 140%;
}
.bodyPage .post article .article-body .footnotes p {
	display: inline;
}
.footnotes h5 {
	font-size: 13px;
	color: #777;
	font-weight: bold;
}
.footnotes hr {
	border-width: 0;
}
/* Pagination
 *-------------------------------------------------------------- */

.pagination {
	margin: 20px 0;
}
.pagination ul li {
	display: inline-block;
	margin-right: 10px;
}
.pagination ul li.current {
	font-weight: bold;
}
/* Page CSS
 *-------------------------------------------------------------- */
.page {
	.notfound {
		h1 {
			font-size: 60px;
			color: #999;
		}
		h3 {
			font-size: 20px;
		}
	}
}
/* Footer
*-------------------------------------------------------------- */
footer {
	border-top: 1px solid #555;
	margin-top: 20px;
	padding: 20px 0;
	p {
		font-size: 14px;
	}
}