{% set myVal = data.cond.theorems_no + 1 %}
<div class="table">
    <table>
     <caption>List of theorems</caption>
        <thead>
            <tr>
                <th>Day</th>
                <th>Theorem</th>
                <th>Field</th>
            </tr>
        </thead>
        <tbody>
            {% for theorem in data.cond.theorems %}
            {% set myVal = myVal - 1 %}
            <tr>
                <td><span>{{ myVal }}</td>
                <td><a href="{{ path_for('post', { slug : theorem.slug }) }}">{{ theorem.title }}</a></td>
                <td><em>{{ theorem.extras|unserialize.field }}</em></td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>
</div>