RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<If "%{HTTP_HOST} != 'scif.ml'">
RewriteRule ^(.*)$ https://scif.ml/$1 [R,L]
</If>
