a.logo
  background: url('../../images/logo.jpg') no-repeat
  display: block
  width: 150px
  height: 125px
  margin: auto
.aside
  .container
    width: 150px
    margin: auto
  .subtitle
    margin: 10px 0
    p
    font-style: italic
    font-size: 9px
    text-transform: uppercase
    color: #888
  p
    font-size: 13px
  .menu
    li
      font-size: 16px
      border-left: 5px solid #ddd
      margin: 0 0 10px
      padding: 0 0 0 10px
      &:hover
        border-color: #888
      a
        color: #888
        text-decoration: none
        border-bottom: none
        display: flex
        &:hover
          color: #aaa