a.logo
  background: url('../../images/logo.jpg') no-repeat
  display: block
  width: 150px
  height: 150px
.aside
  .container
    width: 90%
    margin: auto
  .subtitle
    margin: 10px 0 0 0
    width: 150px
    p
    font-style: italic
      font-size: 10px
  .bio
    padding: 10px 0
    margin: 10px 0
  p
    font-size: 10px
  .menu
    margin-top: 30px
    li
      font-size: 16px
      border-left: 5px solid #ddd
      margin: 0 0 10px
      padding: 0 0 0 10px
      &:hover
        border-color: #888
      a
        color: #888
        text-decoration: none
        border-bottom: none
        display: flex
        &:hover
          color: #aaa