a.logo
  background: url('../../images/logo.jpg') no-repeat;
  display: block;
  width: 150px;
  height: 150px;
.aside
  .container
    width: 80%
    margin: auto
  .bio
    padding: 10px 0
    margin: 10px 0
  p
    font-size: 10px
  .menu
    margin-top: 30px
    li
      font-size: 15px
      padding: 5px 0 5px 10px
      border-left: 20px solid #ddd
      a
        color: #888
        text-decoration: none
        &:hover
          color: #aaa