{% set myVal = 0 %}
{% for theorem in data.cond.theorems %}
{% set myVal = myVal + 1 %}
<div class="table">
    <table>
     <caption>List</caption>
        <thead>
            <tr>
                <th colspan="1">Day</th>
                <th colspan="2">Theorem</th>
                <th colspan="2">Field</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span>{{ myVal }}</td>
                <td><a href="/theorem/{{ theorem.slug }}">{{ theorem.title }}</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endfor %} 