/* --------------------------------------------------------------

   Boilerplate Screen Styles
   * Version:   0.5 (2007-11-19)

-------------------------------------------------------------- */

@import "lib/reset.css";
@import "lib/typography.css";
@import "lib/forms.css";
@import "lib/grids.css";
@import "lib/fonts.css";

/* Global
-------------------------------------------------------------- */

body {
    background-color: #fff;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
input,
textarea {
    font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

h1 {
    font-size: 20px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 25px;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

p a,
li a {
    text-decoration: underline;
}

p a:hover,
li a:hover {}

.inline {
    display: inline;
}


/* Page
-------------------------------------------------------------- */


/* FORM */

form input[type="text"].title {
    font-size: 20px;
}

form input[type="text"].micro {
    font-size: 13px;
    display: inline;
    padding: 0 2px;
}

form .field {
    margin: 10px 0;
}

form .field .subfield {
    margin: 6px 0;
    font-size: 13px;
}

form h5 {
    font-size: 15px;
}


/* Notification
-------------------------------------------------------------- */

.notification-global {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: white;
    width: 15%;
    opacity: 0.5;
}

.notification-global p {
    font-size: 10px;
    color: black;
    margin: 0;
}


/* Top links
-------------------------------------------------------------- */

.topLinks {
    padding: 10px 0;
}

.topLinks ul {
    float: right;
}

.topLinks ul li {
    font-size: 13px;
    float: left;
    padding: 0 10px;
}

.topLinks ul li a {
    color: #777;
}


/* Header
-------------------------------------------------------------- */

header {
    padding: 20px 0 20px 0;
    margin: 0 auto 20px auto;
    border-top: 1px solid #111;
    border-bottom: 2px solid #111;
    /* background:url('../images/_bg_h.png') repeat;*/
}

header .title {
    font-size: .8em;
    color: #666;
    text-align: center;
}

header .nav {
    padding: 10px 0;
}

header .nav ul li {
    display: inline-block;
    font-size: 1em;
    font-family: "arial", sans-serif;
    text-transform: uppercase;
}

header .nav ul li a {
    color: #888;
    padding: 2px 10px 0 0;
    display: inline-block;
}

a.logo {
    background: url('../images/logo.jpg') no-repeat;
    display: block;
    width: 150px;
    height: 150px;
}

#header .tabs {
    border-bottom: 1px solid #ddd;
}

#header .tabs li {
    margin-right: 1px;
}

#header .tabs a {
    padding: 5px 15px;
    background: #ddd;
    color: #666;
    text-decoration: none;
}

.aside {}

.aside .container {
    width: 80%;
    margin: auto;
}

.aside .bio {
    padding: 10px 0;
    margin: 10px 0;
}

.aside p {
    font-size: 10px;
}

.aside .menu {
    margin-top: 30px;
}

.aside .menu li {
    font-size: 15px;
    padding: 5px 0 5px 10px;
    border-left: 20px solid #ddd;
}

.aside .menu li a {
    color: #888;
    text-decoration: none;
}

.aside .menu li a:hover {
    color: #aaa;
}

.navigator_ .menu {
    display: none;
    position: absolute;
}

.table-of-contents {
    float: left;
    width: 20%;
    border-right: 1px solid #eee;
    padding: 5px;
    margin: 0 10px 0 0;
}

.table-of-contents h6 {
    font-size: 13px !important;
}

.table-of-contents ul {
    padding: 0;
}

.table-of-contents li {
    font-size: 13px !important;
    padding: 4px 0 !important;
    margin: 0 !important;
    line-height: 100% !important;
}

.table-of-contents li:last-child {
    padding-bottom: 0;
}

*:target {
    animation: highlight 1s ease;
}

@keyframes highlight {
    from {
        background: yellow;
    }
    to {
        background: white;
    }
}


/* Body
-------------------------------------------------------------- */

.bodyPage {
    padding: 50px 0 0 0;
}

.bodyPage .hdr {
    background-image: url('../images/_bg_h3.png');
    display: block;
    width: 100%;
    height: 80px;
    margin-bottom: 30px;
}

.bodyPage .index-intro {
    margin: 0 0 30px 0;
}

.bodyPage .index-intro p {
    font-size: 16px;
}

.bodyPage .index-intro p span {
    background-color: #000;
    color: #fff;
    position: relative;
    padding-right: 3px;
}

.bodyPage .index-intro p span:after,
.bodyPage .index-intro p span:before {
    left: 100%;
    top: 30%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.bodyPage .index-intro p span:after {
    border: 4px rgba(136, 183, 213, 0);
    margin-top: -4px;
}

.bodyPage .index-intro p span:before {
    border: 5px rgba(194, 225, 245, 0);
    border-left-color: #c2e1f5;
    margin-top: -5px;
}

.bodyPage .home-articles h5 {
    font-size: 16px;
    background-color: #ddd;
    margin: 0 0 10px 0;
    padding: 5px 10px;
    display: inline-block;
    font-weight: normal;
    color: #555;
}

.bodyPage .home-articles ul li {
    font-size: 17px;
    padding: 3px 0;
}

.bodyPage .home-articles ul li a {
    text-decoration: none;
    color: #555;
}

.bodyPage .home-articles ul li a:hover {
    text-decoration: underline;
}

.bodyPage .home-articles ul li span {
    font-size: 10px;
    display: inline;
    color: #999;
}

.bodyPage .mainBody {
    /* background-color: #fff; padding: 20px; */
    padding-right: 20px;
}

.bodyPage .mainBody article {
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.bodyPage .mainBody article:first-child {
    margin-top: 0;
    padding-top: 0;
}

.bodyPage .mainBody article:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.bodyPage .post article h1 {
    font-size: 35px;
    font-weight: 900;
}

.bodyPage .post article .article-head {
    margin: 0 0 10px 0;
    padding: 30px 0 0 0;
    border-top: 1px solid black;
    border-bottom: 1px solid #ccc;
}

.bodyPage .post article .article-head h5 {
    font-size: 16px;
    color: #aaa;
    font-weight: normal;
    margin: 0 0 10px 0;
}

.bodyPage .post article .article-head p {
    font-size: 13px;
    color: #7a7a7a;
    padding: 10px 0;
}

.bodyPage .post article .article-head p span {
    border-bottom: 1px dotted #aaa;
    cursor: help;
}

.bodyPage .post article .article-head p a {
    text-decoration: none;
    color: inherit;
}

.bodyPage .post article .article-head p a span {
    border-bottom: 1px dotted #aaa;
    cursor: auto;
}

.bodyPage .post article .frd-image img {
    width: 100%;
    height: auto;
    margin: 0 0 20px 0;
}

.bodyPage .mainBody article .embed-image {}

.bodyPage .post article .subc {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 15px;
}

.bodyPage .post article .subc p {
    font-size: 12px;
    margin-bottom: 5px;
}

.bodyPage .post article .article-body {
    padding: 0 0 20px 0;
}

.bodyPage .post article h4 {
    font-size: 20px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #111111;
    display: inline-block;
}

.bodyPage .post article h6 {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #aaa;
}

.bodyPage .post article p,
.bodyPage .post article li,
.bodyPage .post article blockquote {
    font-size: 15px;
    margin: 0 0 20px 0;
    line-height: 170%;
}

.bodyPage .post article p:last-child,
.bodyPage .post article li:last-child,
.bodyPage .post article blockquote:last-child {
    margin-bottom: 0;
}

.bodyPage .post article p sup {
    font-size: 12px;
    line-height: 0;
}

.bodyPage .post article ul {
    margin-top: 10px;
}

.bodyPage .post article li {
    list-style-type: square;
}

.bodyPage .post article blockquote {
    background-color: #f6f6f6;
    padding: 10px;
    display: -webkit-box;
}

.bodyPage .post article li {
    margin: 0 0 15px 0;
}

.bodyPage .post article .comments {
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.bodyPage .post article .comments h5 {
    font-size: 15px;
    font-weight: bold;
}

.bodyPage .post article .comments .comment {
    border-bottom: 1px dotted #ddd;
    padding: 10px 0;
}

.bodyPage .post article .comments .comment:last-of-type {
    border-bottom: 0;
}

.bodyPage .post article .comments .comment p,
.bodyPage .post article .comments .comment ul li,
.bodyPage .post article .comments .comment blockquote {
    font-size: 13px;
    line-height: 150%;
}

.bodyPage .post article .comments .comment p {
    margin-bottom: 10px;
}

.bodyPage .post article .comments .comment p:last-of-type {
    margin-bottom: 0;
}

.bodyPage .post article .comments .comment .meta {
    text-align: right;
    margin-top: 10px;
}

.bodyPage .post article .comments .comment .meta a {
    color: #888;
    text-decoration: none;
    border-bottom: 1px dotted #ccc;
}

.bodyPage .post article .footnotes {
    margin-top: 50px;
}

.bodyPage .post article .footnotes ol li {
    list-style-position: inside;
    list-style-type: decimal;
}

#footnotediv {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ddd;
    right: 50px;
}

#footnotediv p {
    padding: 5px 0;
    margin: 0;
    font-size: 11px;
    font-style: italic;
    color: #333;
}

#footnotediv p:first-of-type {
    padding-top: 0;
}

#footnotediv p:last-of-type {
    padding-bottom: 0;
}

.footnotes {
    border: 1px solid #ddd;
    padding: 10px;
}

.bodyPage .post article .article-body .footnotes p,
.bodyPage .post article .article-body .footnotes li {
    font-size: 11px;
    line-height: 140%;
}

.footnotes h5 {
    font-size: 13px;
    color: #777;
    font-weight: bold;
}

.footnotes hr {
    border-width: 0;
}


/*
* admin tools buttons
*
*/

.admin-buttons {
    margin: 0 0 20px 0;
}

.admin-buttons ul li {
    display: inline-block;
    font-size: .9em;
    padding: 0 5px;
    background-color: #111;
    color: #eee;
}

.admin-buttons ul li a {
    color: inherit;
}

.admin-buttons ul li:hover {
    background: #555;
}


/* Pagination
-------------------------------------------------------------- */

.pagination {
    margin: 20px 0;
}

.pagination ul li {
    display: inline-block;
    margin-right: 10px;
}

.pagination ul li.current {
    font-weight: bold;
}


/* Footer
-------------------------------------------------------------- */

.not_found h1 {
    font-size: 60px;
    color: #999;
}

.not_found h3 {
    font-size: 20px;
}


/* Footer
-------------------------------------------------------------- */

footer {
    margin-top: 20px;
}

footer .tabs {
    width: 405px;
    border-top: 3px solid #eee;
}

footer .tabs a {
    padding: 10px 30px 10px 0;
    color: #666;
    text-decoration: none;
}

footer p {
    font-size: .9em;
    color: #777;
}


/* Admin Editor */

article.form form .article-head span {
    border: 0 !important;
}

article.form form input.input-style,
article.form form select.input-style {
    border: 0;
    padding: 0;
    background: none;
    overflow: hidden;
}

article.form form input[name="title"] {
    font-size: 35px;
    font-weight: 900;
    width: 100%;
}

article.form form input[name="intro"] {
    font-size: 16px;
    color: #aaa;
    font-weight: normal;
    margin: 0 0 10px 0;
    width: 100%;
}

article.form form input[type="date"].input-date {
    font-size: 13px;
    color: #7a7a7a;
    width: auto;
}

article.form form .tags .tagged {
    margin-bottom: 10px;
}

article.form form .tags .tagged ul li {
    display: inline-block;
    background-color: #f3f3f3;
    margin-right: 10px;
    font-size: 14px;
    padding: 0 0 0 5px;
    border-radius: 4px;
}

article.form form .tags .tagged ul li span.rm {
    background-color: #bbb;
    margin-left: 5px;
    padding: 0 4px;
    display: inline-block;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

article.form form .tags .tagged ul li span.rm:hover {
    cursor: pointer;
}

article.form form .tags input[type="text"],
article.form form .slug-container .slug-input {
    font-size: 13px;
    color: #333;
    width: auto;
}

article.form form textarea {
    font-size: 15px;
    line-height: 170%;
    width: 100%;
    outline: 0;
    resize: none;
    overflow: hidden;
    min-height: 100px;
}

article.form form input[type="submit"] {
    width: auto;
}

form span.helper {
    font-size: 12px;
    color: red;
}

form .url-viewer {
    margin: 5px 0;
    font-size: 13px;
    display: none;
}

form .url-viewer span {
    background-color: rgb(63, 127, 191, 0.6);
    margin-right: 10px;
}