{% extends 'base.twig' %}

{% block content %}
<h1>Admin panel</h1>
<hr />
<h4><a href="{{ path_for('editor.posts') }}">Posts</a></h4>
<ul>
    {% for post in data.posts %}
    <li><a href="{{ path_for('editor.edit.post', {id :  post.id}) }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}