code
	font-family: "Lucida Console", Monaco, monospace
	border: 1px solid #ddd
	background-color: #f7f7f7
	padding: 0 3px
	font-size: 80%
	box-sizing: border-box

table
	width: 100%
	font-size: 14px
	thead
		background-color: #f2f2f2
		padding: 5px 0
		tr th
			font-weight: bold
			padding: 0 10px
.table
	overflow-x: auto

.fright
	float: right

.gInt
	text-align: center