.table-of-contents
  float: left
  width: 20%
  border-right: 1px solid #eee
  padding: 5px
  margin: 0 10px 0 0
  h6
    font-size: 11px !important
  ul
    padding: 0
  li
    font-size: 13px !important
    list-style-type: none !important
    padding: 8px 0 !important
    margin: 0 !important
    line-height: 100% !important
    &:last-child
      padding-bottom: 0