.table-of-contents {
	background-color: #f6f6f6;
	border: 1px solid #eee;
	padding: 5px !important;
	margin: 10px 0 0 0 !important;
	h6 {
		font-size: 14px !important;
	}
	ul {
		padding: 0;
		li {
			font-size: 14px !important;
			list-style-type: none;
			padding: 8px 0 !important;
			margin: 0 !important;
			line-height: 100% !important;
		}
		&:last-child {
			padding-bottom: 0;
		}
	}
}