{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="home-articles">
  <h4>Archives</h4>
<ul id="article_{{ article.id }}" data-article-id="{{ article.id }}">
  {% for article in data.articles %}
  <li>{{ article.datetime|date("m/d/Y") }} <a href="{{ article.slug }}">{{ article.title }}</a></li>
  {% endfor %}
</ul>
</div>
{% endblock %}
{% block pagination %}
{% if data.page_number > 0 %}
<div class="pagination">
    <ul>
        <li><strong>Browse:</strong> </li>
        {% for i in 1..data.page_number %}
        <li{% if data.id == i %} class="current"{% endif %}>{% if data.id != i %}<a href="/archives/{{ i }}.html">{% endif %}{{ i }}{% if data.id != i %}</a>{% endif %}</li>
        {% endfor %}
        {% if (data.id < data.page_number) or (data.article_per_page == 1)  %}
        <li><a href="/archives/{{ data.id + 1 }}.html">Next &raquo;</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}
