{% extends "base.twig" %}
{% block content %}
<div class="post">
    <article>
        <div class="article-head">
            <h1>Contact</h1>
            <div class="article-body">
                <p>Whether you have a question, request or just want to get in touch, the best way to do it is to write me at <code>hey(at)scif(dot)ml</code></p>
                <p>I usually reply within 12 hours or at my earliest convenience.</p>
            </div>
        </div>
    </article>
</div>
{% endblock %}
