{% extends "base.html" %}


{% block content %}

<h4>Write new post</h4>
<form method="post" class="layout1" action="">
    <div class="field">
      <input type="text" class="" id="key" name="pKey" placeholder="Super secret key"/>
    </div>
    <div class="field">
      <input type="text" class="title" id="title" name="title" placeholder="Title" />
      <div class="subfield">Link: http://scif.ml.dev/post/<input type="text" class="micro" id="slug" name="slug" data-ng-model="url" placeholder="" /> {{ url }} <a href="#" target="_blank">Go to post</a></div>
    </div>
    <br /><br />
    <textarea name="content"></textarea>
    <br /><br />
    <h5>Subjects</h5>
    <fieldset>
    {% for category in data.categories %}
    <label for="{{ category.slug }}">{{ category.name }}</label> <input type="checkbox" name="pCat[]" id="{{ category.slug }}" value="{{ category.slug }}" />
    {% endfor %}
    </fieldset>
    <hr />
    <input type="submit" value="Submit" />

    <script>
function showResult()
{
var val = $$(".qty")[0];
var val2 = val.value;
 alert("Hey " +val2 );
}
</script>
<input class='qty' value="3"><br />
<input class='qty2' value="3">
<input type="button" value="Toggle" onclick="showResult();"/>
</form>

{% endblock %}
